#arukah-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px;
  height: 40px;
}

#lifeskills-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  height: 40px;
}

#kevin-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  height: 40px;
}