#clients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#client-search-form {
  padding-top: 50px;
}

.form-elements {
  margin-right: 15px;
}

#search-bar {
  padding-top: 30px;
}

#search-bar label {
  padding-right: 10px;
}