.App-header {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

#search-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* position: fixed;
  left: 80px;
  top: 100px; */
  /* margin-left: 150px;
  margin-top: 100px; */
  margin-top: 200px;
  align-items: center;
}

#search-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-filter label{
  padding-right: 10px;
}

#search-panel button{
  margin-top: 10px;
  width: 100%;
  height: auto
}

#search-results {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%
}

#button-section {
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 30%;
  padding-top: 15px;
}

.results-table {
  padding-top: 20px;
}

